* {
    text-shadow: none!important;
}

body, p, h1, h2, h3, h4, h5, h6 {
    font-family: "PingFang SC";
    margin: 0;
    color: #333333;
    font-weight: 200;
}
ul {
    list-style: none;
}

/*nav样式*/
.nav-container-back {
  position: fixed;
  width: 100%;
  height: 60px;
  background: RGBA(0, 0, 0, 0.8);
  z-index: 3;
}
.nav-container{
    width: 1440px;
    left:50%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content:space-between;
}

.brand {
    margin-left: 60px;
    width: 146px;
    height: 24px;
    margin-top: 18px;
    border: 0;
}

.list-center ul {
    list-style: none;
    display: flex;
}
.list-center ul li {
    color: #ffffff;
    margin-right: 41px;
}
.list-center ul li a{
    font-size: 14px;
    color: #ffffff;
    opacity: 0.7;
    text-decoration: none;
}
.list-center ul li:hover a{
  cursor: pointer;
  opacity: 1;
}
.list-center ul li.item-active a{
    color: #23c132;
    opacity:1;
}

.list-right {
    margin-right: 60px;
}
.list-right ul {
    list-style: none;
    display: flex;
}
.list-right ul li:first-of-type {
    margin-right: 10px;
}
.list-right ul li a{
    color: #ffffff;
    font-size: 14px;
    padding: 4px 20px;
    border:1px solid #D2D2D2;
    text-decoration: none;
    border-radius: 20px;
}
.list-right ul li a:hover {
    color: #23c132;
    background: #ffffff;
}
.list-right ul li a.active{
    color: #ffffff;
    background: #23c132;
    border:1px solid #23c132;
}
.list-right ul li a.active:hover {
    background: #1ccc2d;
}
.menu-small {
    display: none;
}
/*nav样式end*/

/*定制控件*/
.container-custom{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background: #eeeeee;
}
.container-custom .content{
    width: 650px;
    height: 218px;
    margin-top: 91px;
    color: #000;
    text-align: center;
}
.container-custom .content h2 {
    font-size: 40px;
    font-weight: 400;
}
.container-custom .content h2, .container-custom .content div{
    margin-bottom: 24px;
}
.container-custom .content p:first-of-type {
    font-size: 20px;
    margin-bottom: 5px;
}
.container-custom .content p:last-of-type{
    font-size: 36px;
}
.container-custom .content a{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50px;
    color: #ffffff;
    background: #23c132;
    text-decoration: none;
    margin: 0 auto;
}
.container-custom .content a:hover{
  background: #1ccc2d;
}
/*定制控件 ---end*/

/*footer控件*/
.container-footer{
    width: 100%;
    height: 200px;
    background: #333333;
    display: flex;
    justify-content: space-between;
}
.container-footer .text {
    width: 400px;
    height: 100px;
    margin-left: 240px;
    margin-top: 50px;
}
.container-footer .text p {
    margin: 0;
    color: #999999;
    font-size: 14px;
    margin-bottom: 12px;
}
.container-footer .text p a{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: #ffffff;
    font-size: 14px;
}
.container-footer .tiny {
    width: 100px;
    margin-right: 240px;
    margin-top: 50px;
}
.container-footer .tiny img {
    width: 100px;
    height: 100px;
}
.container-footer .tiny p {
    width: 100%;
    font-size: 14px;
    color: #999999;
    text-align: center;
}
/*footer控件 ----end*/

@media screen and (max-width: 959px) {
    .nav-container {
        position: relative;
        width: 100%;
        height: 60px;
        left: 0;
        margin-left: 0;
        display: block;
    }

    .brand {
        margin-left: 20px;
        width: 146px;
        height: 24px;
        margin-top: 18px;
        border: 0;
        background: url("../images/index/logo.png");
        background-size: cover;
    }

    .list-center {
        margin-top: 10px;
        text-align: center;
        display: none;
        background: #000000;
    }

    .list-center ul {
        margin: 0;
        padding:0;
        display: block;
    }

    .list-center ul li {
        height: 30px;
        line-height: 30px;
        color: #ffffff;
        margin-right: 0;
    }

    .list-right {
        margin: 0;
        text-align: center;
        display: none;
        background: #000000;
    }

    .list-right ul {
        margin: 0;
        padding: 0;
        display: block;
    }

    .list-right ul li {
        height: 30px;
        line-height: 30px;
    }
    .list-right ul li:first-of-type {
        margin-right: 0;
    }
    .list-right ul li a {
        color: #ffffff;
        padding: 5px 20px;
        border: 0;
        text-decoration: none;
        border-radius: 20px;
    }
    .list-right ul li a.active {
        color: #ffffff;
        background: #23c132;
        border: 0;
    }
    .menu-small {
        position: absolute;
        width: 13px;
        height: 13px;
        right: 30px;
        top: 23px;
        color: #ffffff;
        display: block;
        line-height: 60px;
        cursor: pointer;
        background: url("../images/index/menu.png");
    }
    .container-custom .content{
        width: 90%;
        height: 100%;
        margin-top: 91px;
        color: #000;
        text-align: center;
    }

    /*footer控件*/
    .container-footer{
        width: 100%;
        height: 100%;
        background: #333333;
        display: flex;
        flex-direction: column-reverse;
    }
    .container-footer .text {
        width: 90%;
        height: 100%;
        text-align: center;
        margin: 30px auto;
    }
    .container-footer .tiny {
        width: 100px;
        margin: 50px auto;
    }
    .container-footer .tiny img {
        width: 100px;
        height: 100px;
    }
    .container-footer .tiny p {
        width: 100%;
        font-size: 14px;
        color: #999999;
        text-align: center;
    }
}

@media screen and (min-width: 960px) and (max-width: 1440px) {
    .nav-container {
        position: relative;
        width: 100%;
        height: 60px;
        left: 0;
        margin-left: 0;
    }
}
